.links {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.link {
  color: #e4e5ea;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}
