footer {
  padding: 10px 15px 60px;
}

h2 {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
}

ul {
  list-style: none;
}

.twoColumns {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
}

.twoColumns li {
  width: 125px;
}

li {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

a {
  color: #e4e5ea;
  text-decoration: none;
}

img {
  width: 20px;
  margin: 0 14px 0 0;
}

.footerBlock {
  padding: 30px 0 0 0;
}
.copyright {
  padding: 50px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.copyright a {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  .twoColumns {
    display: flex;
    flex-wrap: wrap;
    max-height: 165px;
    min-width: 320px;
  }
  .twoColumns li {
    width: 125px;
  }
  .footerCol {
    text-align: right;
  }
}
